.github/CODEOWNERS @iclanton @octogonz @patmill @apostolisms @nick-pape @cmalonzo
common/config/**/* @iclanton @octogonz @patmill @apostolisms @nick-pape @cmalonzo

common/reviews/**/* @iclanton @octogonz @apostolisms @nick-pape @cmalonzo

build-tests/**/* @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
core-build/**/* @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
stack/**/* @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
rush.json @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
.gitattributes @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
.gitignore @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
README.md @iclanton @octogonz @apostolisms @nick-pape @cmalonzo
